<div class="container my-5 w-100 border-top border-light-subtle border-bottom">
    <div class="row d-flex py-5 mx-2 ">
        
        <div class="col-md-8">
            <h4 class="fs-2"> The First Heading <span style="color: gray"> Will Catch Your Eye</span></h4>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur inventore nihil omnis delectus nobis, temporibus praesentium officiis perspiciatis dicta ad iure </p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid rounded-circle m-0 p-0 w-100git" style="height: 300px; width: 450px; max-width: 450; max-height: 300; object-fit: cover;" src="assets/img/1.jpg" alt="">
        </div>
        
    </div>
   
</div>

