<div class="container my-5 w-100 border-top border-light-subtle">
    <div class="row d-flex py-5 justify-content-center align-items-center">
        <div class="col-8 ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nam quisquam praesentium quod velit excepturi similique, sed et quo optio aliquam molestiae, suscipit totam, ducimus impedit dolore voluptates asperiores veritatis.</p>
        </div>
        <div class="col-4">
            <img class="img-fluid img-thumbnail rounded-circle m-0 p-0 " src="assets/img/1.jpg" alt="">
        </div>
    </div>
   
</div>

