<div class="container-fluid m-0 p-0">
    <div class="container-fluid m-0 p-0" style="height: 400px;">
        <h1 class=" col-12 text-center position-absolute start-50 translate-middle bg-light " style="top: 120px; font-size: 55px; max-width: 98%;">One Page Wonder</h1>
        <h2 class=" col-12 text-center position-absolute start-50 translate-middle bg-light " style="top: 190px; font-size: 35px; max-width: 98%;"> Will Knock Your Socks Off </h2>
        <img class="img-fluid w-100 h-100" src="assets/img/bg.jpg" alt="foto"/>
    </div>
 </div>
